.idea
.target
/target/
DockerFile
target/
!.mvn/wrapper/maven-wrapper.jar

### STS ###
.apt_generated
.classpath
.factorypath
.project
.settings
.springBeans

### IntelliJ IDEA ###
*.iws
*.iml
*.ipr


### NetBeans ###
nbproject/private/
build/
nbbuild/
dist/
nbdist/
.nb-gradle/


### Others ###
target
logs
*.out
/bin/
/DockerFile
es-data
kafka-data
.m2


### Custom Folders ###
Challenges/TutorialEdge/Challenge\ 06
Challenges/TutorialEdge/Challenge\ 07
Challenges/TutorialEdge/Challenge\ 08
Challenges/TutorialEdge/Challenge\ 09
Challenges/TutorialEdge/Challenge\ 10
Challenges/TutorialEdge/Challenge\ 11
Challenges/TutorialEdge/Challenge\ 12
Challenges/TutorialEdge/Challenge\ 13
Challenges/TutorialEdge/Challenge\ 14
Challenges/TutorialEdge/Challenge\ 15
Challenges/TutorialEdge/Challenge\ 16
Challenges/TutorialEdge/Challenge\ 17
Challenges/TutorialEdge/Challenge\ 18
Challenges/TutorialEdge/Challenge\ 19
Challenges/TutorialEdge/Challenge\ 20
Challenges/TutorialEdge/Challenge\ 21
Challenges/TutorialEdge/Challenge\ 22

### Random Folders ###
Random/ToDo